.testcol {
  width: 14.2%;
  background-color: #ffffff;
  border-width: 1px;
  border-color: black;
  border-style: inset;
}

.square {
  padding-top: 95px;
  max-height: 125px;
  overflow: auto;
}

.text {
  position: relative;
  bottom: 100px;
  border: none;
  width: 100%;
  text-align: left;
}

.dayNumber {
  left: 10px;
  width: 90%;
}

.weekdaysText {
  text-align: center;
}